body, html {
	height: 100%;
	-webkit-tap-highlight-color: transparent;
}
button{
	outline: none;
	border: none;
}
ul,ol,li{
	list-style: none;
}
.bg-grey{
	background: #f2f4f8;
}

.nav-top{
	position: fixed;
	top:0;
	z-index: 200;
	box-sizing: border-box;
	width:100%;
	height: 2.2rem;
	line-height: 2.2rem;
	padding-right: .5rem;
	padding-left: .5rem;
	color:#fff;
	background-color: #00b9ff;
}
.back-btn{
	display: block;
	position:absolute;
	top:0.5rem;
	left:0;
	width:10%;
	height:1rem;
	background: url(../images/icon-back.png)center center no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}
.nav-top h1{
	font-size: 1rem;
	text-align: center;
}

.content{
	padding-top: 2.2rem;
	padding-bottom: 55px;
}
.content .banner{
	width:100%;
}

.content .banner img{
	display: block;
	width:100%;
}

.novice-guide{
	background-color: #fff;
}
.novice-guide h2{
	height: 2.4rem;
	line-height: 2.4rem;
	font-size: 0.8rem;
	color:#404142;

}
.novice-guide h2 i{
	display: inline-block;
	width:1rem;
	height:1rem;
	margin:0 0.75rem;
	background: url(../images/icon-guide.png)center center no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
	vertical-align: middle;
}
.novice-guide h2 span{
	display: inline-block;
	vertical-align: middle;
}
.novice-guide .steps{
	padding:0.25rem 0.75rem;
	background: #e6e9eb;
}
.novice-guide .step a{
	display: block;
	height:1.25rem;
	line-height: 1.25rem;
	margin:0.5rem 0;
	color:#575757;

}
.novice-guide .step a i{
	display: inline-block;
	width:0.8rem;
	height:0.8rem;
	background: url(../images/icon-step.png)center center no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}
.novice-guide .step a b{
	font-weight: normal;
	font-style:italic;
	margin-right: 10px;
}

.intro{
	box-sizing: border-box;
	width:100%;
	padding:0.5rem 0.75rem;

}
.intro:after{
	display: block;
	content:"";
	clear:both;
}

.intro .fl,
.intro .fr{
	float: left;
	width:49%;
	height:6.5rem;
}
.intro .fl{
	margin-right:2%;
}
.intro .comment a{
	display: block;
	height:6.5rem;
	line-height: 6.5rem;
	text-align: center;
	color:#fff;
	background-color: #3793de;
}
.intro .about a,
.intro .contact a{
	display: block;
	width:100%;
	height:3.1rem;
	line-height: 3.1rem;
	color:#fff;
	text-align: center;
}
.intro .about{
	background: #34b0df;
}
.intro .contact{
	margin-top: 0.3rem;
	background: #6d92dd;
}

.weui-tabbar{
	position: fixed;
	bottom: 0;
}

.weui-article h2{
	background-color: pink;
}
.weui-tabbar__item.weui-bar__item--on .weui-tabbar__label{
	color:#00b9ff;
}

.weui-tabbar__icon.icon-home{
	background: url(../images/icon-home.png)center center no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
}
.weui-tabbar__item.weui-bar__item--on .icon-home{
	background: url(../images/icon-home02.png)center center no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
}
.weui-tabbar__icon.icon-patent{
	background: url(../images/icon-patent.png)center center no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
}
.weui-tabbar__item.weui-bar__item--on .icon-patent{
	background: url(../images/icon-patent02.png)center center no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
}
.weui-tabbar__icon.icon-find{
	background: url(../images/icon-find.png)center center no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
}
.weui-tabbar__item.weui-bar__item--on .icon-find{
	background: url(../images/icon-find02.png)center center no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
}
.weui-tabbar__icon.icon-bill{
	background: url(../images/icon-bill.png)center center no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
}
.weui-tabbar__item.weui-bar__item--on .icon-bill{
	background: url(../images/icon-bill02.png)center center no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
}
.weui-tabbar__icon.icon-me{
	background: url(../images/icon-me.png)center center no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
}
.weui-tabbar__item.weui-bar__item--on .icon-me{
	background: url(../images/icon-me02.png)center center no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
}

/*search */
.search h2{
	height: 1.9rem;
	line-height: 1.9rem;
	font-size: 0.8rem;
	color:#404142;
	background-color: #f2f4f8;
}
.search h2 i{
	display: inline-block;
	width:1rem;
	height:1rem;
	margin:0 0.75rem;
	background: url(../images/icon-find02.png)center center no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
	vertical-align: middle;
}
.search h2 span{
	display: inline-block;
	vertical-align: middle;
}
.patent-list{
	width:100%;
	padding-top: 0.5rem;
	background-color: #f2f4f8;

}
.patent-list li{
	box-sizing: border-box;
	width:100%;
	margin-bottom: 0.5rem;
	padding:0.2rem 0.5rem;
	background-color: #fff;
}
.patent-list  p{
	color:#575757;
	line-height: 1.8rem;
	font-size: 14px;
}
.patent-list li{
	border-bottom:1px solid #e0e2e4;;
}

.patent-list p button{
	float: right;
	width:4rem;
	padding:0.2rem 0.5rem;
	margin-top: 0.25rem;
	margin-right: 0.25rem;
	color:#fff;
	background-color: #00b9ff;
}
.patent-list p button.followed{
	background-color: #959a9e;
}
.patent-list p a{
	display: inline-block;
	color:#575757;
}
.search-bar-top{
	position: fixed;
	top:0;
	z-index: 200;
}
.search-bar{
	box-sizing: border-box;
	width:100%;
	height:2.2rem;
	padding:0 1%;
	background: #00b9ff;
	
}
.search-bar-box{
	box-sizing: border-box;
	float: left;
	width:80%;
	margin-left: 0.7rem;
	margin-top: 0.35rem;
	line-height: 1.5rem;
	background-color: #eee;
	border-radius:3px;
}
.search-bar-input{
	display: inline-block;
	width:86%;
	height:1.5rem;
	border: none;
	background-color: #eee;
	outline: none;
}
.search-bar-btn{
	display: block;
	float: left;
	width:14%;
	height:1.5rem;
	line-height: 1.5rem;
	margin-top: 0.35rem;
	margin-left: 1%;
	color:#fff;
	background: #00b9ff;
	font-size: 16px;
	text-align: center;
}


.search-results{
	position: fixed;
	top:2.2rem;
}


/*detail*/
.info-item{
	font-size: 0;
	padding-top: 0.5rem;
	background-color: #f2f4f8;
}
.info-item h3{
	height:2rem;
	line-height: 2rem;
	font-size: 0.9rem;
	color:#3c3e41;
	background-color: #fff;
	font-weight: normal;
	text-indent: 0.75rem;
	border-bottom: 1px solid #e3e3e3;
}
.info-item p{
	padding:0.2rem 0.75rem;
	line-height: 1.3rem;
	color:#555;
	font-size: 0.7rem;
	background-color: #fff;
}
.info-item p:nth-of-type(odd){
	background-color: #f2f4f8;
}
.btns-box{
	margin-left: 0.5rem;
}
.btns-box:after{
	display: block;
	content:"";
	clear:both;
}
.btns-box button{
	float: left;
	width:45%;
	padding:0.5rem;
	height:2rem;
	margin:0.5rem 0.25rem;
	color:#fff;
	background-color: #00a0fc;
}
.btns-box .disabled-btn{
	background-color: #666;
}

.info-item>span{
	color:#787a7c;
	display: block;
	margin: 0 0.75rem;
	line-height: 1.5rem;
	font-size: 0.8rem;
}
.info-item>button{
	display: inline-block;
	width:21%;
	margin:0.5rem 2%;
	line-height: 1.5rem;
	font-size: 0.65rem;
	color:#787a7c;
	background-color: #fff;
	border:2px solid #a8a9ab;
	border-radius:3px;
}
.info-item>button.active{
	color: #fff;
	background: #00b9ff;
	border-color: #00b9ff;
}

/*popup layer*/
.m-popup {
	 position: fixed;
	 z-index: 900;
}
.m-popup-mask {
	 position: absolute;
	 z-index: 950;
}
.m-popup,.m-popup-mask {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    
    background: rgba(0,0,0,.25)
}

.m-popup-inner {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 200px;
    margin-left: -150px;
    margin-top: -100px;
    z-index: 1000;
    background-color: #fff
}
.transfer-popup .m-popup-inner{
	box-sizing: border-box;
	padding:20px 10px;
}
.transfer-price{
	margin-bottom: 15px;
}
.transfer-popup label{
	display: inline-block;
	width:100px;
	line-height: 32px;
	font-size: 14px;
	text-align: right;
	vertical-align: middle;
}
.transfer-popup input{
	display: inline-block;
	width:150px;
	line-height: 30px;
	height:30px;
	border-radius: 4px;
	vertical-align: middle;
	outline: none;
	border:1px solid #ccc;
	text-indent: 10px;
}
.transfer-btns{
	width:260px;
	margin: 20px auto;
	font-size: 0;
	
}
.transfer-btns button{
	display: inline-block;
	width:112px;
	height:40px;
	line-height: 40px;
	font-size: 16px;
}
.transfer-btns button.btn-ok{
	margin-right: 20px;
	color:#fff;
	background-color: #00a0fc;
}

/*user account*/
.user-info{
	width:100%;
	height:8.85rem;
	background-color: #00b9ff;
}
.user-name{
	padding-top: 2.5rem;
	color:#fff;
	text-align: center;
}
.user-cart{
	display: block;
	width:6.3rem;
	height:2rem;
	margin:-0.75rem auto 0;
	padding-top: 0.2rem;
	background: #f2f4f8;
	border-radius: 1rem;
	position: relative;
	z-index: 200;
}
.user-cart button{
	display: block;
	width:5.7rem;
	height:1.8rem;
	margin:0 auto;
	line-height: 1.8rem;
	border-radius: 0.9rem;
	color:#fff;
	background-color: #00b9ff;
}

.more-info {
	box-sizing: border-box;
	width:100%;
	padding:2.4rem 3% 0;
}
.more-info:after{
	display: block;
	content:"";
	clear: both;
}
.more-info li{
	float: left;
	width:44%;
	height:6.25rem;
	margin:0.5rem 3%;
	font-size: 0.8rem;
	background-color: #fff;
}
.more-info li a{
	display: block;
	color:#767677;
	text-align: center;

}
.more-info i{
	display: block;
	margin:1.25rem auto 0.25rem;
	width:2.8rem;
	height:2.8rem;
}
.add-info i{
	background:url(../images/icon-info-01.png)center center no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}
.bind-account i{
	background:url(../images/icon-info-02.png)center center no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}
.change-pwd i{
	background:url(../images/icon-info-03.png)center center no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}
.bing-patent-holder i{
	background:url(../images/icon-info-04.png)center center no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}


/*add info */
.add-info-container{
	line-height: 1.8rem;
	color:#787a7c;
	background-color: #fff;
}
.add-info-container li{
	border-bottom: 1px solid #e3e3e3;
}
.add-info-container .input-title{
	display: inline-block;
	height:1.8rem;
	width:31.25%;
	min-width:5rem;
	margin-right: 0.25rem;
	font-size: 0.75rem;
	text-align: right;
	vertical-align: middle;
	color:#000;
}
.add-info-container li span{
	display: inline-block;
	height:1.8rem;
	vertical-align: middle;
}
.add-info-container input{
	display: inline-block;
	height:1.4rem;
	width:62.5%;
	vertical-align: middle;
	border-radius: 3px;
	border:1px solid #eee;
	font-size: 12px;
	text-indent: 1em;
}
.add-info-container input[type=radio]{
	width:16px;
	outline: none;
}
.add-info-container .raido-title{
	font-size: 12px;
	display: inline-block;
	margin-right: 0.5rem;
	width:90px;
}
.add-info-container .raido-title input{
	margin-right: 6px;
}
.add-info-container .save-btn{
	display: block;
	width:85%;
	height:2.2rem;
	margin:0.6rem auto;
	line-height: 2.4rem;
	color:#fff;
	background-color: #00b9ff;
	font-size: 0.9rem;
	text-align: center;
	border-radius: 4px;
}