body, html {
	height: 100%;
	-webkit-tap-highlight-color: transparent;
}
body{
	background: #f2f4f8;
}
button{
	outline: none;
	border: none;
}
ul,ol,li{
	list-style: none;
}
.fr{
	float: right;
}
.fl{
	float: left;
}
.clearfix:after{
	display: block;
	content:"";
	clear:both;
}

.bg-grey{
	background: #f2f4f8;
}

.nav-top{
	position: fixed;
	top:0;
	z-index: 200;
	box-sizing: border-box;
	width:100%;
	height: 2.2rem;
	line-height: 2.2rem;
	padding-right: .5rem;
	padding-left: .5rem;
	color:#fff;
	background-color: #00b9ff;
}
.back-btn{
	display: block;
	position:absolute;
	top:0.5rem;
	left:0;
	width:10%;
	height:1rem;
	background: url(../images/icon-back.png)center center no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}
.nav-top h1{
	font-size: 1rem;
	text-align: center;
}

.content,
.container{
	padding-top: 2.2rem;
	padding-bottom: 55px;
}
.content .banner{
	width:100%;
}

.content .banner img{
	display: block;
	width:100%;
}

.novice-guide{
	background-color: #fff;
}
.novice-guide h2{
	height: 2.4rem;
	line-height: 2.4rem;
	font-size: 0.8rem;
	color:#404142;

}
.novice-guide h2 i{
	display: inline-block;
	width:1rem;
	height:1rem;
	margin:0 0.75rem;
	background: url(../images/icon-guide.png)center center no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
	vertical-align: middle;
}
.novice-guide h2 span{
	display: inline-block;
	vertical-align: middle;
}
.novice-guide .steps{
	padding:0.25rem 0.75rem;
	background: #e6e9eb;
}
.novice-guide .step a{
	display: block;
	height:1.25rem;
	line-height: 1.25rem;
	margin:0.5rem 0;
	color:#575757;

}
.novice-guide .step a i{
	display: inline-block;
	width:0.8rem;
	height:0.8rem;
	background: url(../images/icon-step.png)center center no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}
.novice-guide .step a b{
	font-weight: normal;
	font-style:italic;
	margin-right: 10px;
}

.intro{
	box-sizing: border-box;
	width:100%;
	padding:0.5rem 0.75rem;

}
.intro:after{
	display: block;
	content:"";
	clear:both;
}

.intro .fl,
.intro .fr{
	float: left;
	width:49%;
	height:6.5rem;
}
.intro .fl{
	margin-right:2%;
}
.intro .comment a{
	display: block;
	height:6.5rem;
	line-height: 6.5rem;
	text-align: center;
	color:#fff;
	background-color: #3793de;
}
.intro .about a,
.intro .contact a{
	display: block;
	width:100%;
	height:3.1rem;
	line-height: 3.1rem;
	color:#fff;
	text-align: center;
}
.intro .about{
	background: #34b0df;
}
.intro .contact{
	margin-top: 0.3rem;
	background: #6d92dd;
}

.weui-tabbar{
	position: fixed;
	bottom: 0;
}

.weui-article h2{
	background-color: pink;
}
.weui-tabbar__item.weui-bar__item--on .weui-tabbar__label{
	color:#00b9ff;
}

.weui-tabbar__icon.icon-home{
	background: url(../images/icon-home.png)center center no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
}
.weui-tabbar__item.weui-bar__item--on .icon-home{
	background: url(../images/icon-home02.png)center center no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
}
.weui-tabbar__icon.icon-patent{
	background: url(../images/icon-patent.png)center center no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
}
.weui-tabbar__item.weui-bar__item--on .icon-patent{
	background: url(../images/icon-patent02.png)center center no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
}
.weui-tabbar__icon.icon-find{
	background: url(../images/icon-find.png)center center no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
}
.weui-tabbar__item.weui-bar__item--on .icon-find{
	background: url(../images/icon-find02.png)center center no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
}
.weui-tabbar__icon.icon-bill{
	background: url(../images/icon-bill.png)center center no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
}
.weui-tabbar__item.weui-bar__item--on .icon-bill{
	background: url(../images/icon-bill02.png)center center no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
}
.weui-tabbar__icon.icon-me{
	background: url(../images/icon-me.png)center center no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
}
.weui-tabbar__item.weui-bar__item--on .icon-me{
	background: url(../images/icon-me02.png)center center no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
}

/*search */
.search h2{
	height: 1.9rem;
	line-height: 1.9rem;
	font-size: 0.8rem;
	color:#404142;
	background-color: #f2f4f8;
}
.search h2 i{
	display: inline-block;
	width:1rem;
	height:1rem;
	margin:0 0.75rem;
	background: url(../images/icon-find02.png)center center no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
	vertical-align: middle;
}
.search h2 span{
	display: inline-block;
	vertical-align: middle;
}
.patent-list{
	width:100%;
	padding-top: 0.5rem;
	background-color: #f2f4f8;

}
.patent-list li{
	box-sizing: border-box;
	width:100%;
	margin-bottom: 0.5rem;
	padding:0.2rem 0.5rem;
	background-color: #fff;
}
.patent-list  p{
	color:#575757;
	line-height: 1.8rem;
	font-size: 14px;
}
.patent-list li{
	border-bottom:1px solid #e0e2e4;;
}

.patent-list p button{
	float: right;
	width:4rem;
	padding:0.2rem 0.5rem;
	margin-top: 0.25rem;
	margin-right: 0.25rem;
	color:#fff;
	background-color: #00b9ff;
}
.patent-list p button.followed{
	background-color: #959a9e;
}
.patent-list p a{
	display: inline-block;
	color:#575757;
	width:80%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	vertical-align: middle;
}
.search-bar-top{
	position: fixed;
	top:0;
	z-index: 200;
}
.search-bar{
	box-sizing: border-box;
	width:100%;
	height:2.2rem;
	padding:0 1%;
	background: #00b9ff;
	
}
.search-bar-box{
	box-sizing: border-box;
	float: left;
	width:80%;
	margin-left: 0.7rem;
	margin-top: 0.35rem;
	line-height: 1.5rem;
	background-color: #eee;
	border-radius:3px;
}
.search-bar-input{
	display: inline-block;
	width:86%;
	height:1.5rem;
	border: none;
	background-color: #eee;
	outline: none;
}
.search-bar-btn{
	display: block;
	float: left;
	width:14%;
	height:1.5rem;
	line-height: 1.5rem;
	margin-top: 0.35rem;
	margin-left: 1%;
	color:#fff;
	background: #00b9ff;
	font-size: 16px;
	text-align: center;
}


.search-results{
	position: fixed;
	top:2.2rem;
}


/*detail*/
.info-item{
	font-size: 0;
	padding-top: 0.5rem;
	background-color: #f2f4f8;
}
.info-item h3{
	height:2rem;
	line-height: 2rem;
	font-size: 0.8rem;
	color:#3c3e41;
	background-color: #fff;
	font-weight: normal;
	text-indent: 0.75rem;
	border-bottom: 1px solid #e3e3e3;
}
.info-item p{
	padding:0.2rem 0.75rem;
	line-height: 1.3rem;
	color:#555;
	font-size: 0.7rem;
	background-color: #fff;
}
.info-item p:nth-of-type(odd){
	background-color: #f2f4f8;
}
.btns-box{
	margin-left: 0.5rem;
}
.btns-box:after{
	display: block;
	content:"";
	clear:both;
}
.btns-box a{
	display: block;
	box-sizing: border-box;
	float: left;
	width:30%;
	margin:0.5rem 0.25rem;
	height:2rem;
	line-height: 2rem;
	color:#fff;
	background: #00a0fc;
	text-align: center;
	font-size: 0.7rem;
	border-radius: 1rem;
}
.btns-box .view-his-btn{
	background:#57778a;
}
.btns-box .prev-fee-btn{
	background: #5ed65c;
}

.info-item>span{
	color:#787a7c;
	display: block;
	margin: 0 0.75rem;
	line-height: 1.5rem;
	font-size: 0.8rem;
}
.info-item>button{
	display: inline-block;
	width:21%;
	margin:0.5rem 2%;
	line-height: 1.5rem;
	font-size: 0.65rem;
	color:#787a7c;
	background-color: #fff;
	border:1px solid #a8a9ab;
	border-radius:0.75rem;
}
.info-item>button.active{
	color: #fff;
	background: #00b9ff;
	border-color: #00b9ff;
}

/*popup layer*/
.m-popup {
	 position: fixed;
	 z-index: 900;
}
.m-popup-mask {
	 position: absolute;
	 z-index: 950;
}
.m-popup,.m-popup-mask {
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	
	background: rgba(0,0,0,.25)
}

.m-popup-inner {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 300px;
	height: 200px;
	margin-left: -150px;
	margin-top: -100px;
	z-index: 1000;
	background-color: #fff
}
.transfer-popup .m-popup-inner{
	box-sizing: border-box;
	padding:20px 10px;
}
.transfer-price{
	margin-bottom: 15px;
}
.transfer-popup label{
	display: inline-block;
	width:100px;
	line-height: 32px;
	font-size: 14px;
	text-align: right;
	vertical-align: middle;
}
.transfer-popup input{
	display: inline-block;
	width:150px;
	line-height: 30px;
	height:30px;
	border-radius: 4px;
	vertical-align: middle;
	outline: none;
	border:1px solid #ccc;
	text-indent: 10px;
}
.transfer-btns{
	width:260px;
	margin: 20px auto;
	font-size: 0;
	
}
.transfer-btns button{
	display: inline-block;
	width:112px;
	height:40px;
	line-height: 40px;
	font-size: 16px;
}
.transfer-btns button.btn-ok{
	margin-right: 20px;
	color:#fff;
	background-color: #00a0fc;
}

/*user account*/
.user-info{
	width:100%;
	height:5.5rem;
	background-color: #00b9ff;
}
.user-name{
	padding-top: 1rem;
	color:#fff;
	text-align: center;
}
.user-cart{
	display: block;
	width:6.3rem;
	height:2rem;
	margin:-0.75rem auto 0;
	padding-top: 0.2rem;
	background: #f2f4f8;
	border-radius: 1rem;
	position: relative;
	z-index: 200;
}
.user-cart button{
	display: block;
	width:5.7rem;
	height:1.8rem;
	margin:0 auto;
	line-height: 1.8rem;
	border-radius: 0.9rem;
	color:#fff;
	background-color: #00b9ff;
	position: relative;
}
.user-cart .cart-amount{
	position: absolute;
	top:0;
	right:0;
	display: block;
	height:20px;
	width:20px;
	line-height: 20px;
	color:#fff;
	font-size:12px;
	background: #ff3732;
	border-radius: 50%;
	text-align: center;
}
.more-info {
	box-sizing: border-box;
	width:100%;
	padding-top: 2rem;
}
.more-info:after{
	display: block;
	content:"";
	clear: both;
}
.more-info li{
	float: left;
	width:44%;
	height:6.25rem;
	margin:0.5rem 3%;
	font-size: 0.8rem;
	background-color: #fff;
}
.more-info li a{
	display: block;
	color:#767677;
	text-align: center;

}
.more-info i{
	display: block;
	margin:1.25rem auto 0.25rem;
	width:2.8rem;
	height:2.8rem;
}
.add-info i{
	background:url(../images/icon-info-01.png)center center no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}
.bind-account i{
	background:url(../images/icon-info-02.png)center center no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}
.change-pwd i{
	background:url(../images/icon-info-03.png)center center no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}
.bing-patent-holder i{
	background:url(../images/icon-info-04.png)center center no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}


/*add info */
.addinfo-container{
	line-height: 1.8rem;
	color:#787a7c;
	background-color: #fff;
}
.addinfo-container li{
	border-bottom: 1px solid #e3e3e3;
}
.addinfo-container li:last-child{
	border:none;
}
.addinfo-container .input-title{
	display: inline-block;
	height:1.8rem;
	width:31.25%;
	min-width:5rem;
	font-size: 0.75rem;
	vertical-align: middle;
	color:#575757;
	text-indent: 10px;
}
.addinfo-container li span{
	display: inline-block;
	height:1.8rem;
	vertical-align: middle;
}
.addinfo-container input{
	display: inline-block;
	height:1.4rem;
	width:62.5%;
	vertical-align: middle;
	border:none;
	font-size: 12px;
	text-indent: 1em;
}
.addinfo-container input[type=radio]{
	width:16px;
	outline: none;
}
.addinfo-container .raido-title{
	font-size: 12px;
	display: inline-block;
	margin-right: 0.5rem;
	width:90px;
}
.addinfo-container .raido-title input{
	margin-right: 6px;
}
.addinfo-container .save-btn{
	display: block;
	width:85%;
	height:2.2rem;
	margin:0.6rem auto;
	line-height: 2.4rem;
	color:#fff;
	background-color: #00b9ff;
	font-size: 0.9rem;
	text-align: center;
	border-radius: 4px;
}
.addinfo-container .addr-box{
	padding-left:31.25%;
	margin-left:6px;
	margin-bottom: 6px;
}
.addinfo-container .addr-box input{
	width:94%
}


/*bind account*/
.bindacc-container{
	background-color: #f2f4f8;
}
.bindacc-container li{
	line-height: 2.5rem;
	background-color: #fff;
}
.bindacc-container li span,
.bindacc-container li .input-title{
	height: 2.5rem;
}
.bindacc-container .tip{
	padding:10px;
	font-size: 12px;
	color:#ff8686;
	line-height: 1.25rem;
}
.bindacc-container .smscode{
	display: inline-block;
	width:30%;
}
.bindacc-container .send-code{
	float: right;
	width:90px;
	height:1.8rem;
	line-height: 1.8rem;
	margin-top: 0.35rem;
	margin-right: 0.6rem;
	color:#fff;
	background-color:#00b9ff;
	text-align: center;
}

.bindholder-container .input-title{
	width:40%;
}
.bindholder-container li input{
	width:50%;
}

/*user order*/
.weui-tab .weui-navbar{
	top:2.2rem;
}
.weui-navbar__item:after{
	border:none;
}
.weui-navbar__item.weui-bar__item--on{
	box-sizing: border-box;
	color:#00b9ff;
	background-color: #fff;
	border-bottom: 2px solid #00b9ff;
}
.weui-tab .weui-tab__bd{
	padding-top:4.7rem; 
	padding-bottom: 2.5rem;
}
.orders-lists li{
	margin:10px 0;
	padding:0 10px 4px;
	background-color: #fff;
}
.order-title{
	width:100%;
	height:1.5rem;
	margin-bottom: 0.25rem;
	line-height: 1.5rem;
	color:#55595d;
	font-size: 0.75rem;
	border-bottom: 1px solid #ebecef;

}
.order-title:after{
	display: block;
	content: "";
	clear: both;
}
.order-no{
	float: left;
}
.order-status{
	float: right;
}
.order-status i{
	display: inline-block;
	width:0.8rem;
	height:0.8rem;
	vertical-align: middle;
	margin-right: 0.2rem;
	margin-top: -0.2rem;
}
.status-unpaid,
.status-unpaid i{
	color: #f43530;
}
.status-unpaid i {
	background: url(../images/icon-o-unpaid.png)center center no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}

.status-paid,
.status-paid i{
	color: #00b9ff;
}
.status-paid i{
	background: url(../images/icon-o-paid.png)center center no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}

.status-handling,
.status-handling i{
	color: #ee4e4e;
}
.status-handling i{
	background: url(../images/icon-handling.png)center center no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}
.status-finished,
.status-finished i{
	color: #00b9ff;
}
.status-finished i{
	background: url(../images/icon-o-finished.png)center center no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}
.order-content{
	color: #787a7c;
	line-height: 1.2rem;
	font-size: 0.65rem;
}
.order-btns:after{
	display: block;
	content: "";
	clear:both;
}
.order-btns{
	margin-top: 4px;
}
.order-btns a{
	box-sizing: border-box;
	display: block;
	float: right;
	width:4rem;
	height: 1.5rem;
	line-height: 1.5rem;
	font-size: 0.7rem;
	text-align: center;
	border-radius: 3px;
	border:none;
	color:#fff;
}
.order-btns a.btn-pay{
	margin-right: 20px;
	background-color: #00b9ff;
	
}
.order-btns a.btn-cancle{
	background-color: #7ddc70;
}


ul.o-cate li:nth-child(2) a i{
	background: url(../images/icon-o-unpaid.png)center center no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}
ul.o-cate li:nth-child(3) a i{
	background: url(../images/icon-o-paid.png)center center no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}
ul.o-cate li:nth-child(4) a i{
	background: url(../images/icon-handling.png)center center no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}
ul.o-cate li:nth-child(5) a i{
	background: url(../images/icon-o-finished.png)center center no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}


/*user patent*/
.userpatent-box .patent-status{
	float: right;
	font-size:0.75rem;
}
.userpatent-box{
	padding-top: 2.2rem;
	padding-bottom: 55px;
	background: #f2f4f8;
}
.p-category li a{
	box-sizing: border-box;
	display: block;
	width:100%;
	height:2.5rem;
	line-height: 2.5rem;
	color:#787a7c;
	background-color: #fff;
	font-size: 0.75rem;
	padding:0 0.75rem;
	border-bottom: 1px solid #e3e3e3;
}
.p-category li a i{
	display: inline-block;
	width:1.15rem;
	height: 1.15rem;
	vertical-align: middle;
	margin-right: 0.4rem;
}
.p-category li:nth-child(1) a i{
	background: url(../images/icon-all.png)center center no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}
.p-category li:nth-child(2) a i{
	background: url(../images/icon-unpaid.png)center center no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}
.p-category li:nth-child(3) a i{
	background: url(../images/icon-paid.png)center center no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}
.p-category li:nth-child(4) a i{
	background: url(../images/icon-overdue.png)center center no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}
.p-category li:nth-child(5) a i{
	background: url(../images/icon-recovery.png)center center no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}
.p-category li:nth-child(6) a i{
	background: url(../images/icon-ineffective.png)center center no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}
.p-category li a span{
	float: right;
}
.p-status1{
	color:#f43530;
}
.p-status2{
	color: #00b9ff;
}
.order-content p{
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.p-status3{
	color:#f43530;
}

.checkbox{
	display: inline-block;
	margin-right: 8px;
	vertical-align: middle;
}
.btn-cart{
	float: right;
	display: block;
	height:1.25rem;
	width:1.25rem;
	margin-top: 0.125rem;
	margin-right: 0.5rem;
	background: url(../images/icon-cart.png)center center no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}
.orders-lists>li>a{
	display: block;
	color:#575757;
}
.order-content>p>span,
.order-content>p>b{
	display: inline-block;
	width:50%;
	font-weight: normal;
}
.order-content>p>span:nth-child(1){
	width:60%;
}
.order-content>p>span:nth-child(2){
	width:40%;
}
.countdown{
	color:red;
}

.btn-delete{
	float: right;
	display: block;
	height:1rem;
	width:1rem;
	margin-top: 0.2rem;
	margin-right: 0.5rem;
	background: url(../images/icon-delete.png)center center no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}


.sum{
	padding:10px;
	background: #fff;
}
.sum label{
	display: inline-block;
	line-height: 2.4rem;
}
.sum .select-all{
	margin-right: 5px;
}
.sum .fl{
	height:2.4rem;
}
.sum .fl .amount{
	height:1.2rem;
	line-height: 1.2rem;
	font-size: 0.6rem;
	color:#787a7c;
}
.sum .fl .amount b{
	color:red;
	margin:0 6px;
}
.sum .fl .money{
	height:1.2rem;
	line-height: 1.2rem;
	font-size: 0.6rem;
	color: #ee4e4e;
}
.settle-btn{
	display: block;
	height:1.8rem;
	width:100%;
	line-height: 1.8rem;
	margin-top: 0.3rem;
	text-align: center;
	color: #fff;
	background: #00b9ff;
	font-size: 0.7rem;
	border-radius: 1.2rem;
}
.price>b{
	font-weight: normal;
	color:#e5004f;
}

.p-year{
	color:#e5004f;
	font-style: normal;
}

.warning{
	line-height: 1.2rem;
	font-size: 0.6rem;
	color:red;
	background-color: #fff;
	text-indent: 2em;
}
/*confirm*/
.confirm-box .raido-title{
	display: inline-block;
	padding:4px 10px;
}
.confirm-box .raido-title input{
	margin-right: 6px;
	display: inline-block;
	vertical-align: middle;
}
.express-fee{
	margin:5px 0;
}
.exp-tip{
	float: right;
	font-size: 12px;
}
.invoice-box{
	line-height: 1.5rem;
	margin:10px 0 5px;
}
.invoice-box label{
	display: inline-block;
	width:70px;
	height:1.5rem;
	margin-bottom: 10px;
	vertical-align: middle;
}
.invoice-box input{
	display: inline-block;
	width:62%;
	height:1.4rem;
	margin-bottom: 10px;
    font-size: 12px;
    border: 1px solid #eee;
    border-radius: 4px;
    text-indent: 1em;
    vertical-align: middle;

}
.invoice-box .tip{
	line-height: 1.2rem;
    font-size: 12px;
    background-color: #fff;
    white-space:normal;
}
.invoice-box.addr-box input{
	display: block;
	width:90%;
}
.confirm-box .confirm-order li{
	margin-bottom: 10px;
	border-bottom: 1px dotted #eee;
}
.confirm-box .confirm-order li:last-child{
	border:none;
}
.confirm-box .confirm-order li span{
	display: inline-block;
	width:50%;
	vertical-align: middle;
}
/*register*/
.input-box{
	line-height: 2.5rem;
	background-color: #fff;
	border-bottom: 1px solid #eee;
}
.input-box input{
	display: inline-block;
	height: 1.4rem;
	width: 62.5%;
	vertical-align: middle;
	border: none;
	font-size: 12px;
	text-indent: 1em;
	line-height: 1.8rem;
}
.input-box .input-title {
	display: inline-block;
	height: 2.5rem;
	width: 31.25%;
	min-width: 5rem;
	font-size: 0.75rem;
	vertical-align: middle;
	color: #575757;
	text-indent: 10px;
}
.input-box .smscode{
	display: inline-block;
	width: 32%;
}
.input-box .send-code {
	float: right;
	width: 90px;
	height: 1.8rem;
	line-height: 1.8rem;
	margin-top: 0.35rem;
	margin-right: 0.6rem;
	color: #fff;
	background-color: #00b9ff;
	text-align: center;
}
.input-box .send-code.disabled{
	background: #ccc;
}
.input-box  input[type=radio],
.input-box  input[type=checkbox]{
	width:16px;
	outline: none;
}
.input-box .raido-title {
	font-size: 12px;
	display: inline-block;
	margin-right: 0.5rem;
	width: 90px;
}
.fwtk-box label{
	padding-left:15%;
	color:#575757;
	font-size: 12px;
}
.fwtk-box label .fwtk{
	margin-right: 10px;
}
.fwtk-box label a{
	color:#575757;
	font-size: 12px;
}

.confirm-btn{
	display: block;
	width: 85%;
	height: 2.2rem;
	margin: 0.6rem auto;
	line-height: 2.4rem;
	color: #fff;
	background-color: #00b9ff;
	font-size: 0.9rem;
	text-align: center;
	border-radius: 4px;
}
.reg-login,
.reg-login a{
	height:1.5rem;
	line-height: 1.5rem;
	color: #575757;
	font-size: 12px;
	text-align: center;

}
.reg-login a{
	color:#ff8686;
}
.reg-login  .forgotpwd{
	display: inline-block;
	width:40%;
	text-align: left;
}


/*faq*/
.faq{
	background: #f2f4f8;
}
.faq li{
	box-sizing: border-box;
	display: block;
	line-height: 1.2rem;
	font-size: 0.7rem;
	color:#575757;
	background: #fff;
	padding:5px 12px;
	margin-bottom: 10px;
}
.faq li p:first-child{
	margin-bottom: 5px;
	border-bottom: 1px dashed #eee;
}

/*notice*/
.notice li{
	box-sizing: border-box;
	display: block;
	line-height: 1.2rem;
	font-size: 0.7rem;
	color:#575757;
	background: #fff;
	padding:12px;
	margin-bottom: 10px;
}
.notice li p{
	margin-bottom: 8px;
}
.notice li h2{
	line-height: 1.5rem;
	font-size: 0.8rem;
}

/*contact*/
.contact-box{
	box-sizing: border-box;
	display: block;
	line-height: 1.8rem;
	font-size: 0.8rem;
	color:#575757;
	background: #fff;
	padding:12px;
	margin-bottom: 10px;
}
.contact-box img{
	display: block;
	width:200px;
	height:200px;
	margin:10px auto;
}

/*comment*/
.comment-box img{
	display: block;
	width:100%;
	max-width: 768px;
	margin:10px auto;
}


/*news*/
.news-list li{
	box-sizing: border-box;
	display: block;
	line-height: 1.2rem;
	font-size: 0.65rem;
	color:#575757;
	background: #fff;
	padding:12px;
	margin-bottom: 10px;
}
.news-list li h2 a{
	display: block;
	line-height: 1.5rem;
	color:#575757;
	font-size: 0.8rem;
	border-bottom: 1px dashed #eee;
}
.news-list li .pub-time{
	float: right;
	font-size: 12px;
	color:#666;
}
.news-list li:after{
	display: block;
	content:"";
	clear:both;
}
.news-detail {
	box-sizing: border-box;
	padding:12px;
	margin-bottom: 10px;
	
	color:#575757;
	background: #fff;
}
.news-detail h2 {
	line-height: 1.5rem;
	font-size: 0.75rem;
}
.news-detail p{
	font-size: 0.65rem;
	line-height: 1.2rem;
}

.fix-top{
	box-sizing: border-box;
	position: fixed;
	top:2.2rem;
	width:100%;
	padding:0 10px;
	font-size: 12px;
	height:2.4rem;
	font-size: 12px;
	border-bottom: 1px solid #eee;
}
.has-fix-top{
	padding-top: 4.6rem;
}