body, html {
  height: 100%;
  -webkit-tap-highlight-color: transparent;
}
button{
  outline: none;
  border: none;
}
.nav-top{
  position: fixed;
  top:0;
  z-index: 200;
  box-sizing: border-box;
  width:100%;
  height: 2.2rem;
  line-height: 2.2rem;
  padding-right: .5rem;
  padding-left: .5rem;
  color:#fff;
  background-color: #4996f9;
  border-bottom: 1px solid #f2f2f2;
}
.back-btn{
  display: block;
  position:absolute;
  top:0.5rem;
  left:0;
  width:10%;
  height:1rem;
  background: url(../images/icon-back.png)center center no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}
.nav-top h1{
  font-size: 1rem;
  text-align: center;
}

.content{
  padding-top: 2.2rem;
  padding-bottom: 55px;
}
.content .banner{
  width:100%;
}

.content .banner img{
  display: block;
  width:100%;
}

.novice-guide{
  background-color: #fff;
}
.novice-guide h2{
  height: 2.4rem;
  line-height: 2.4rem;
  font-size: 0.8rem;
  color:#404142;

}
.novice-guide h2 i{
  display: inline-block;
  width:1rem;
  height:1rem;
  margin:0 0.75rem;
  background: url(../images/icon-guide.png)center center no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
  vertical-align: middle;
}
.novice-guide h2 span{
  display: inline-block;
  vertical-align: middle;
}
.novice-guide .steps{
  padding:0.25rem 0.75rem;
  background: #e6e9eb;
}
.novice-guide .step a{
  display: block;
  height:1.25rem;
  line-height: 1.25rem;
  margin:0.5rem 0;
  color:#575757;

}
.novice-guide .step a i{
  display: inline-block;
  width:0.8rem;
  height:0.8rem;
  background: url(../images/icon-step.png)center center no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}
.novice-guide .step a b{
  font-weight: normal;
  font-style:italic;
  margin-right: 10px;
}

.intro{
  box-sizing: border-box;
  width:100%;
  padding:0.5rem 0.75rem;
  /*margin-bottom: 1rem;*/

}
.intro:after{
  display: block;
  content:"";
  clear:both;
}

.intro .fl,
.intro .fr{
  float: left;
  width:49%;
  height:6.5rem;
}
.intro .fl{
  margin-right:2%;
}
.intro .comment a{
  display: block;
  height:6.5rem;
  line-height: 6.5rem;
  text-align: center;
  color:#fff;
  background-color: #3793de;
}
.intro .about a,
.intro .contact a{
  display: block;
  width:100%;
  height:3.1rem;
  line-height: 3.1rem;
  color:#fff;
  text-align: center;
}
.intro .about{
  background: #34b0df;
}
.intro .contact{
  margin-top: 0.3rem;
  background: #6d92dd;
}

.weui-tabbar{
  position: fixed;
  bottom: 0;
}

.weui-article h2{
  background-color: pink;
}
.weui-tabbar__item.weui-bar__item--on .weui-tabbar__label{
  color:#00b9ff;
}

.weui-tabbar__icon.icon-home{
  background: url(../images/icon-home.png)center center no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
}
.weui-tabbar__item.weui-bar__item--on .icon-home{
  background: url(../images/icon-home02.png)center center no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
}
.weui-tabbar__icon.icon-patent{
  background: url(../images/icon-patent.png)center center no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
}
.weui-tabbar__item.weui-bar__item--on .icon-patent{
  background: url(../images/icon-patent02.png)center center no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
}
.weui-tabbar__icon.icon-find{
  background: url(../images/icon-find.png)center center no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
}
.weui-tabbar__item.weui-bar__item--on .icon-find{
  background: url(../images/icon-find02.png)center center no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
}
.weui-tabbar__icon.icon-bill{
  background: url(../images/icon-bill.png)center center no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
}
.weui-tabbar__item.weui-bar__item--on .icon-bill{
  background: url(../images/icon-bill02.png)center center no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
}
.weui-tabbar__icon.icon-me{
  background: url(../images/icon-me.png)center center no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
}
.weui-tabbar__item.weui-bar__item--on .icon-me{
  background: url(../images/icon-me02.png)center center no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
}

/*search */
.search h2{
  height: 1.9rem;
  line-height: 1.9rem;
  font-size: 0.8rem;
  color:#404142;
  background-color: #f2f4f8;
}
.search h2 i{
  display: inline-block;
  width:1rem;
  height:1rem;
  margin:0 0.75rem;
  background: url(../images/icon-find02.png)center center no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
  vertical-align: middle;
}
.search h2 span{
  display: inline-block;
  vertical-align: middle;
}
.patent-list{
  width:100%;
  background-color: #d2d5da;
}
.patent-list li{
  width:100%;
  margin-bottom: 0.5rem;
  background-color: #fff;
}
.patent-list a p{
  color:#575757;
  line-height: 1.8rem;
  border-bottom: 1px dashed #eee;
  font-size: 14px;
}
.patent-list p b{
  display: inline-block;
  width:28%;
  min-width:100px;
  margin-right: 5px;
  font-weight: normal;
  text-align: right;
  vertical-align: middle;
}
.patent-list p span{
  display: inline-block;
  width:66%;
  vertical-align: middle;
}

.patent-list p button{
  display: inline-block;
  padding:4px 16px;
  color:#fff;
  background-color: #00b9ff;
  border:1px solid #00b9ff;
}
.search-bar-top{
  position: fixed;
  top:0;
  z-index: 200;
}
.search-bar{
  box-sizing: border-box;
  width:100%;
  height:2.2rem;
  padding:0 1%;
  background: #4996f9;
  
}
.search-bar-box{
  box-sizing: border-box;
  float: left;
  width:80%;
  margin-left: 0.7rem;
  margin-top: 0.35rem;
  line-height: 1.5rem;
  background-color: #eee;
  border-radius:3px;
}
.search-bar-input{
  display: inline-block;
  width:86%;
  height:1.5rem;
  border: none;
  background-color: #eee;
  outline: none;
}
.search-bar-btn{
  display: block;
  float: left;
  width:14%;
  height:1.5rem;
  line-height: 1.5rem;
  margin-top: 0.35rem;
  margin-left: 1%;
  color:#fff;
  background: #4996f9;
  font-size: 16px;
  text-align: center;
}



.search-results{
  position: fixed;
  top:2.2rem;
}


/*detail*/
.info-item{
  margin-bottom: 20px;
}
.info-item h3{
  line-height: 35px;
  font-size: 20px;
  color:#000;
  background-color: #f2f2f2;
  font-weight: normal;
  text-indent: 1em;
}
.info-item p{
  padding:4px 10px;
  line-height: 25px;
  color:#555;
  font-size: 14px;
}
.btns-box{
  margin-left: 10px;
}
.btns-box:after{
  display: block;
  content:"";
  clear:both;
}
.btns-box button{
  float: left;
  width:45%;
  padding:10px;
  height:40px;
  margin:10px 5px;
  color:#fff;
  background-color: #00a0fc;
}
.btns-box .disabled-btn{

  background-color: #666;
}